interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/artist/?query=Miles+Davis
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata\
        \ created=\"2019-05-02T19:37:22.271Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"\
        \ xmlns:ns2=\"http://musicbrainz.org/ns/ext#-2.0\"><artist-list count=\"2210\"\
        \ offset=\"0\"><artist id=\"561d854a-6a28-4aa7-8c99-323e6ce46c2a\" type=\"\
        Person\" type-id=\"b6e035f4-3ce9-331c-97df-83397230b0df\" ns2:score=\"100\"\
        ><name>Miles Davis</name><sort-name>Davis, Miles</sort-name><gender>male</gender><country>US</country><area\
        \ id=\"489ce91b-6658-3307-9877-795b68554c98\" type=\"Country\" type-id=\"\
        06dd0ae4-8c74-30bb-b43d-95dcedf961de\"><name>United States</name><sort-name>United\
        \ States</sort-name><life-span><ended>false</ended></life-span></area><begin-area\
        \ id=\"39e1719e-2604-4b59-b698-dab7caf85b33\" type=\"City\" type-id=\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\"\
        ><name>Alton</name><sort-name>Alton</sort-name><life-span><ended>false</ended></life-span></begin-area><end-area\
        \ id=\"dbacf2e3-7e3e-4cee-8804-999b109285fa\" type=\"City\" type-id=\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\"\
        ><name>Santa Monica</name><sort-name>Santa Monica</sort-name><life-span><ended>false</ended></life-span></end-area><disambiguation>jazz\
        \ trumpeter, bandleader, songwriter</disambiguation><ipi-list><ipi>00007619785</ipi></ipi-list><life-span><begin>1926-05-26</begin><end>1991-09-28</end><ended>true</ended></life-span><alias-list><alias\
        \ locale=\"bg\" sort-name=\"\u0414\u0435\u0439\u0432\u0438\u0441, \u041C\u0430\
        \u0439\u043B\u0437\">\u041C\u0430\u0439\u043B\u0437 \u0414\u0435\u0439\u0432\
        \u0438\u0441</alias><alias sort-name=\"Miles Dewey Davis III.\">Miles Dewey\
        \ Davis III.</alias><alias sort-name=\"Miles Davies\">Miles Davies</alias><alias\
        \ sort-name=\"Favis, Miles\">Miles Favis</alias></alias-list><tag-list><tag\
        \ count=\"15\"><name>jazz</name></tag><tag count=\"0\"><name>american</name></tag><tag\
        \ count=\"6\"><name>jazz fusion</name></tag><tag count=\"1\"><name>post-bop</name></tag><tag\
        \ count=\"3\"><name>hard bop</name></tag><tag count=\"4\"><name>modal jazz</name></tag><tag\
        \ count=\"1\"><name>bebop</name></tag><tag count=\"0\"><name>jazz-funk</name></tag><tag\
        \ count=\"4\"><name>cool jazz</name></tag><tag count=\"-1\"><name>musical</name></tag><tag\
        \ count=\"2\"><name>trumpeter</name></tag><tag count=\"0\"><name>jazz and\
        \ blues</name></tag><tag count=\"0\"><name>miles davis</name></tag><tag count=\"\
        -1\"><name>george gershwin</name></tag><tag count=\"-1\"><name>death by stroke</name></tag><tag\
        \ count=\"-1\"><name>death by pneumonia</name></tag><tag count=\"0\"><name>midnight</name></tag></tag-list></artist><artist\
        \ id=\"fe7245e7-d734-4ca1-8e26-691883f58201\" type=\"Group\" type-id=\"e431f5f6-b5d2-343d-8b36-72607fffb74b\"\
        \ ns2:score=\"86\"><name>Miles Davis Quintet</name><sort-name>Davis, Miles,\
        \ Quintet</sort-name><country>US</country><area id=\"489ce91b-6658-3307-9877-795b68554c98\"\
        \ type=\"Country\" type-id=\"06dd0ae4-8c74-30bb-b43d-95dcedf961de\"><name>United\
        \ States</name><sort-name>United States</sort-name><life-span><ended>false</ended></life-span></area><begin-area\
        \ id=\"489ce91b-6658-3307-9877-795b68554c98\" type=\"Country\" type-id=\"\
        06dd0ae4-8c74-30bb-b43d-95dcedf961de\"><name>United States</name><sort-name>United\
        \ States</sort-name><life-span><ended>false</ended></life-sp[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?artist=561d854a-6a28-4aa7-8c99-323e6ce46c2a&inc=recordings
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><metadata xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"\
        ><release-list count=\"1073\"><release id=\"16ed7b47-e00c-499d-8866-65e660f4c78f\"\
        ><title>Miles Davis, Volume 3</title><status id=\"4e304316-386d-3409-af2e-78857eec5cfe\"\
        >Official</status><quality>normal</quality><packaging id=\"f7101ce3-0384-39ce-9fde-fbbd0044d35f\"\
        >Cardboard/Paper Sleeve</packaging><text-representation><language>eng</language><script>Latn</script></text-representation><date>1954</date><country>US</country><release-event-list\
        \ count=\"1\"><release-event><date>1954</date><area id=\"489ce91b-6658-3307-9877-795b68554c98\"\
        ><name>United States</name><sort-name>United States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><cover-art-archive><artwork>true</artwork><count>1</count><front>true</front><back>false</back></cover-art-archive><medium-list\
        \ count=\"1\"><medium><position>1</position><format id=\"3e9080b0-5e6c-34ab-bd15-f526b6306a64\"\
        >12&quot; Vinyl</format><track-list count=\"6\" offset=\"0\"><track id=\"\
        37e8f384-fd8f-3980-ab99-c69271a21204\"><position>1</position><number>1</number><length>220360</length><recording\
        \ id=\"d94bc993-7d18-4bb9-a95e-a1eb2ed309d4\"><title>Take Off</title><length>220360</length></recording></track><track\
        \ id=\"60fa3292-611c-319a-9d6b-b9d97c6e1249\"><position>2</position><number>2</number><length>242760</length><recording\
        \ id=\"83142edc-1c9d-41e5-9580-78c88ae74f6a\"><title>It Never Entered My Mind</title><length>242760</length></recording></track><track\
        \ id=\"eb18e59b-95f1-3812-bdf9-5b654ec95008\"><position>3</posit[...]
