interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/artist/?query=Madonna
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata\
        \ created=\"2019-05-02T19:54:39.195Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"\
        \ xmlns:ns2=\"http://musicbrainz.org/ns/ext#-2.0\"><artist-list count=\"42\"\
        \ offset=\"0\"><artist id=\"79239441-bfd5-4981-a70c-55c3f15c1287\" type=\"\
        Person\" type-id=\"b6e035f4-3ce9-331c-97df-83397230b0df\" ns2:score=\"100\"\
        ><name>Madonna</name><sort-name>Madonna</sort-name><gender>female</gender><country>US</country><area\
        \ id=\"489ce91b-6658-3307-9877-795b68554c98\" type=\"Country\" type-id=\"\
        06dd0ae4-8c74-30bb-b43d-95dcedf961de\"><name>United States</name><sort-name>United\
        \ States</sort-name><life-span><ended>false</ended></life-span></area><begin-area\
        \ id=\"903111d9-9dc2-4129-b08a-3cf52bc72757\" type=\"City\" type-id=\"6fd8f29a-3d0a-32fc-980d-ea697b69da78\"\
        ><name>Bay City</name><sort-name>Bay City</sort-name><life-span><ended>false</ended></life-span></begin-area><disambiguation>American\
        \ singer-songwriter, actress, businesswoman, \"Queen of Pop\"</disambiguation><ipi-list><ipi>00125053706</ipi><ipi>00128246872</ipi><ipi>00211854787</ipi></ipi-list><life-span><begin>1958-08-16</begin><ended>false</ended></life-span><alias-list><alias\
        \ locale=\"ja\" sort-name=\"\u30DE\u30C9\u30F3\u30CA\" type=\"Artist name\"\
        \ type-id=\"894afba6-2816-3c24-8072-eadb66bd04bc\" primary=\"primary\">\u30DE\
        \u30C9\u30F3\u30CA</alias><alias sort-name=\"Ciccone-Ritchie, Madonna\">Madonna\
        \ Ciccone-Ritchie</alias><alias sort-name=\"Ciccone, Madonna Louise\" type=\"\
        Legal name\" type-id=\"d4dcd0c0-b341-3612-a332-c0ce797b25cf\">Madonna Louise\
        \ Ciccone</alias><alias sort-name=\"Madonna\">Madonna</alias><alias sort-name=\"\
        M. Ciccone\" type=\"Search hint\" type-id=\"1937e404-b981-3cb7-8151-4c86ebfc8d8e\"\
        >M. Ciccone</alias><alias sort-name=\"Ciccone, Madonna Louise Veronica\">Madonna\
        \ Louise Veronica Ciccone</alias></alias-list><tag-list><tag count=\"1\"><name>electronic</name></tag><tag\
        \ count=\"1\"><name>downtempo</name></tag><tag count=\"11\"><name>pop</name></tag><tag\
        \ count=\"1\"><name>jazz</name></tag><tag count=\"0\"><name>dance</name></tag><tag\
        \ count=\"0\"><name>american</name></tag><tag count=\"0\"><name>arabic</name></tag><tag\
        \ count=\"0\"><name>singer</name></tag><tag count=\"0\"><name>usa</name></tag><tag\
        \ count=\"3\"><name>electropop</name></tag><tag count=\"0\"><name>am[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?artist=79239441-bfd5-4981-a70c-55c3f15c1287&inc=recordings
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><metadata xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"\
        ><release-list count=\"821\"><release id=\"070ccfd1-fae6-49cc-8b43-9f5a3d8de56d\"\
        ><title>Like a Virgin</title><status id=\"4e304316-386d-3409-af2e-78857eec5cfe\"\
        >Official</status><quality>normal</quality><disambiguation>First Japanese\
        \ release with Stickered OBI-strip.</disambiguation><packaging id=\"ec27701a-4a22-37f4-bfac-6616e0f9750a\"\
        >Jewel Case</packaging><text-representation><language>eng</language><script>Latn</script></text-representation><date>1984-11</date><country>JP</country><release-event-list\
        \ count=\"1\"><release-event><date>1984-11</date><area id=\"2db42837-c832-3c27-b4a3-08198f75693c\"\
        ><name>Japan</name><sort-name>Japan</sort-name><iso-3166-1-code-list><iso-3166-1-code>JP</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><barcode>075992515726</barcode><cover-art-archive><artwork>false</artwork><count>0</count><front>false</front><back>false</back></cover-art-archive><medium-list\
        \ count=\"1\"><medium><position>1</position><format id=\"9712d52a-4509-3d4b-a1a2-67c88c643e31\"\
        >CD</format><track-list offset=\"0\" count=\"9\"><track id=\"23450919-f8b5-4b89-8a62-a5b6571e0b33\"\
        ><position>1</position><number>1</number><length>240706</length><recording\
        \ id=\"9607fd1a-19c6-45b8-9445-cb351d4405c2\"><title>Material Girl</title><length>240706</length></recording></track><track\
        \ id=\"a015d08e-33ef-4d13-8064-7a5c7534486f\"><position>2</position><number>2</number><length>236133</length><recording\
        \ id=\"eab5aa69-6487-4376-b136-9209fb25ea21\"><title>Angel</title><length>236040</length></recording></track><track\
        \ id=\"3dbfb331-e4d4-4694-b100-0fc1cab803ac\"><position>3</position><number>3<[...]
