<input 
  matInput 
  id="search-input" 
  [matAutocomplete]="auto" 
  [placeholder]="searchType === 'release' ? 'Album Title' : 'Artist Name'" 
  [(ngModel)]="queryString"
  (keyup)="searchFor(search.value)" 
  name="search" 
  minlength="3" 
  required 
  #search="ngModel">
<mat-autocomplete  #auto="matAutocomplete">
  <!-- <mat-option *ngFor="let item of filteredResults$ | async" [value]="item">
      <span [innerHTML]="item | bold:searchControl.value"></span>
  </mat-option> -->
</mat-autocomplete>

