<h1>Search Album or Artist</h1>
<input 
  matInput 
  id="search-input" 
  [matAutocomplete]="auto" 
  [placeholder]="'Album Title'" 
  [(ngModel)]="query"
  (keyup)="searchFor()" 
  name="search" 
  required 
  #search="ngModel">
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let album of result">
    <span [innerHTML]="album.title | bold:query"></span>
  </mat-option>
</mat-autocomplete>
<footer>
  <div class="container">
      <div class="row">
          <div class="row-item one">
              <p>For comments or questions about this tool please email <a href="#0">Dean</a></p>
            </div>
            <div class="row-item two">
              <div>
                    <img id="countMe" src="sdfavi.png">
                    <p>Powered By Service Desk</p>
                    <!--<?php
                    echo('<script>
          $(document).ready(function(){
            $("#countMe").click(function(){
              alert("'.$visits.'" + " page views");
            });
          });
        </script>'); ?> -->
      </div>
            </div>
            <div class="row-item three">
              <p>For additions, removals and changes to the acronym list please email <a href="#0">The Service Desk</a></p>
            </div>
        </div>
    </div>
</footer>



